<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Predict Profit of The StartUp </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a target="_blank" href="mailto:kumartharun435@gmail.com"> kumartharun435@gmail.com</a>
        <i class="fa fa-phone"></i> +91 9515745155
      </div>
      <div class="social-links float-right">
        <a href="https://twitter.com/kumartharun435" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://medium.com/@kumartharun435" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
        <a href=" https://github.com/tharun435" target="_blank" class="github"><i class="fa fa-github"></i></a>
        <a href="mailto:kumartharun435@gmail.com" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/tharunkumartallapalli/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro-carousel" class="scrollto"> Profit of The StartUp<span> </span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro-carousel">Home</a></li>
          <li><a href="#about">About StartUP</a></li>
		  <li><a href="#services">Principles</a></li>
          <li><a href="#portfolio">Advantages</a></li>
          <li><a href="#predict">Prediction</a></li>
		  <li><a href="#topbar">Contact Me</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Making <span>your ideas</span><br>happen!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
		<a href="#predict" class="btn-projects scrollto">Predict</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('../static/img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('../static/img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="img/home.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>What is StartUP ?</h2><br>
            <h3>A startup or start-up is a company or project initiated by an entrepreneur to seek, effectively develop, and validate a scalable business model.</h3>
			<h3>Startups typically begin by a founder (solo-founder) or co-founders who have a way to solve a problem.</h3>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Principles</h2>
          <p>Principles to create and design startups under limited resources and tremendous uncertainty to build their ventures more flexibly and at lower cost.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <ul>
              <li>Find a problem worth solving, then define a solution</li>
			  <br>
              <li>Engage early adopters for market validation</li><br>
			  <li>Continually test with smaller, faster iterations</li>
            </ul>
            </div>
          </div>
		  

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <ul>
              <li>Build a function, measure customer response, and verify/refute the idea</li>
			  <br>
              <li>Evidence-based decisions on when to "pivot" by changing your plan's course</li><br>
			  <li>Maximize the efforts for speed, learning, and focus</li>
            </ul>
            </div>
          </div>



        </div>

      </div>
    </section><!-- #services -->

    
    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Advantages</h2>
        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <ul>
              <li>Startups are smaller and less structured.</li>
			  <br>
              <li>Startups are also innovative and keep improving their business models, processes, and portfolio.</li><br>
			  <li>Startups offer their services in a more efficient, cost-effective and competitive manner.</li><br>
			  <li> Startup employees form a close-knit community that shares passion, beliefs, and values. </li>
            </ul>
            </div>
          </div>
		  

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <ul>
              <li> Startups also take time to study and understand their customers’ business requirements.</li>
			  <br>
              <li>Startup employees multitask and the salesperson could double up as the relationship manager.</li><br>
			  <li>Startups are very flexible and are more likely to work at the hours, the place and in the manner that suits you.</li><br>
			  <li>A startup doesn’t have to please everyone and may decide to select clients that are fun to work with.</li>
            </ul>
            </div>
          </div>



        </div>
        </div>
      </div>


    </section><!-- #portfolio -->

    
    <section id="predict" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Predict Profit of the StartUp</h2>
		  
		  <div class="row">
		  <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <img src="../static/img/pop.jpg" style="width:500px;height:500px" alt="">
            </div>
          </div>
		  
		  
			<div class="login col-lg-6">
				 <!-- Main Input For Receiving Query to our ML -->
				<form action="/predict"method="post" id="predict">
                              <div class="wow fadeInRight" style="padding-top:20px" data-wow-delay="0.8s">
                                   <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                                        <label for="R & D Spend">R & D Spend</label>
										<input type="number"step="0.001" min="0" max="1000000000" class="form-control" name="R&D Spend" placeholder="R&D Spend" required="required" />
                                   </div>
                                   <div class="col-md-6 col-sm-6" style="padding-top:10px;">
                                        <label for="Administration">Administration</label>
										<input type="number"step="0.001" min="0" max="1000000000" name="Administration" class="form-control" placeholder="Administration" required="required" />
                                   </div>
								   <div class="col-md-6 col-sm-6"  style="padding-top:10px;">
                                        <label for="Marketing Spend">Marketing Spend</label>
										<input type="number"step="0.001" min="0" max="1000000000" class="form-control" name="Marketing Spend" placeholder="Marketing Spend" required="required" />
                                   </div>
								   <div class="col-md-6 col-sm-6" style="padding-top:10px;">
										  <label for="State">State</label>
									<select id="inputState" name="State" class="form-control">
											<option value="Florida">Florida</option>
											<option value="California">California</option>
											<option selected value="New York">New York</option>
										  </select>										  
                                   </div> 
                                   </div>
								   <div style="padding-top:30px;padding-left:15px;">
								   <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-lg ">Predict</button></div>
                              </div></div>
                        </form>
			   <br>
			   <br>
			   
			   
			   <div id="result">
						<div class="col-lg-12 " >
						<div style="font-size:30px;width=100%;">
						<p style="font-size:50px"><b>PROFIT:</b> </p>
						<samp>{{ prediction_text }}</samp></div>
						</div></div>

			 </div>          
        </div>
      </div>
    </section><!-- #testimonials -->
  </main>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/sticky/sticky.js"></script>
  <script src="../static/contactform/contactform.js"></script>
  <script src="../static/js/main.js"></script>

</body>
</html>
